
<%= link_to "#{user.followings.count}フォロー", following_user_path(user), class: "nav-link" %>
<%= link_to "#{user.followers.count}フォロワー", followers_user_path(user), class: "nav-link" %>

<% if user_signed_in? && user != current_user%>
  <div>
    <% if current_user.following?(user) %>
      <%= render 'users/unfollow', user: user %>
    <% else %>
      <%= render 'users/follow', user: user %>
    <% end %>
  </div>
<% end %>