<div class="container">
  <h3 class="text-center pt-3 pb-4">フォロワー</h3>

  <% @user.followers.each do |user| %>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-2 border-bottom border-top p-2">
        <%= link_to user_path(user.id) do %>
          <%= attachment_image_tag user, :profile_image, :fill, 80, 80, fallback: "no-image.jpg", size: '80x80', class: "rounded-circle" %>
        <% end %>
      </div>
      <div class="col-md-4 border-bottom border-top p-2">
        <%= link_to user_path(user.id) do %>
          <h4 class="pt-4"><%= user.name %></h4>
        <% end %>
      </div>
    </div>
  <% end %>

</div>