<% if lanobe.favorited_by?(current_user) %>
    <p>
      <%= link_to lanobe_favorites_path(lanobe), method: :delete, remote: true, class: "btn btn-outline-primary rounded-pill" do %>
        <i class="far fa-thumbs-up mr-1"></i>いいね<%= lanobe.favorites.count %>
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to lanobe_favorites_path(lanobe), method: :post, remote: true, class: "btn btn-outline-primary rounded-pill" do %>
        <i class="far fa-thumbs-up"></i>いいね<%= lanobe.favorites.count %>
      <% end %>
    </p>
<% end %>